{% extends 'base.html' %}   
{% load static %}  



{% block content %}
    <main class="main-exp-dash">
        <section>
            <div class="container card-container">
                <h1 class="title center animate__animated animate__bounceInLeft">
                    Gráficos de gastos   
                </h1>
                <div class="row animate__animated animate__bounceInLeft">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <ul class="tabs dash-tabs">
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash1">Este ano</a>
                                            </li>
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash2">Mês atual</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash1">
                                        <div class="chart-container">
                                            <canvas id="yearDash" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash2">
                                        <div class="chart-container">
                                            <canvas id="currentMonthDash" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row animate__animated animate__bounceInRight 
                    animate__delay-2s">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <ul class="tabs dash-tabs">
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash3">Por categoria</a>
                                            </li>
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash4">últimos 5 anos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash3">
                                        <div class="chart-container">
                                            <canvas id="category" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash4">
                                        <div class="chart-container">
                                            <canvas id="lastFiveMonths" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>  
                {% include 'parciais/float_menu.html'%}
            </div>
        </section>    
    </main>
{% endblock %}

{% block scripts %}
    <script>
        // expenses per category
        let category = document.querySelector('#category').getContext('2d');

        let expensesPerCategoryDashboard = new Chart(category, {
            type: 'doughnut',
            data: {
                labels: [{% for cat in categories %}"{{cat.name}}", {% endfor %}],

                datasets: [{
                    label: 'Gastos por categoria',
                    data:[
                        3000, 2700, 5000, 6000,           
                    ],
                
                    backgroundColor: [
                        'rgba(0, 132, 255, 0.637)',
                        'rgba(255, 153, 0, 0.61)',
                        'rgba(255, 0, 0, 0.507)',
                        'rgba(64, 236, 64, 0.534)',
                        'rgba(156, 32, 213, 1)',
                        'rgba(11, 59, 203, 1)',
                        'rgba(11, 203, 181, 1)'
                    ]

                }],
            },
            options: {
                title:{
                    display: true,
                    text: 'Gastos por categoria no mês atual',
                    fontSize: 20
                },
                maintainAspectRatio: false,
            }
        });

    </script>    
{% endblock scripts %}
    