{% extends 'base.html' %}   
{% load static %}  
{% load formatted_month %}
{% load l10n %}

{% block title %}Gráficos de Gastos{% endblock %}

{% block content %}
    <main class="main-exp-dash">
        <section>
            <div class="container card-container">
                <h1 class="title center animate__animated animate__bounceInLeft">
                    Gráficos de gastos  
                </h1>
                <p class="text-info center animate__animated animate__bounceInLeft">
                    Adicione gastos para visualizar seu progresso
                </p>
                <div class="row animate__animated animate__bounceInLeft">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <ul class="tabs dash-tabs">
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash1">Este ano</a>
                                            </li>
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash2">Mês atual</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash1">
                                        <div class="chart-container">
                                            <canvas id="yearDash" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash2">
                                        <div class="chart-container">
                                            <canvas id="currentMonthDash" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row animate__animated animate__bounceInRight 
                    animate__delay-2s">
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <ul class="tabs dash-tabs">
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash3">Por categoria</a>
                                            </li>
                                            <li class="tab col s6 m6 l6">
                                                <a href="#dash4">últimos 5 anos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash3">
                                        <div class="chart-container">
                                            <canvas id="category" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12" id="dash4">
                                        <div class="chart-container">
                                            <canvas id="lastFiveMonths" height="450">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>  
                {% include 'parciais/float_menu.html'%}
            </div>
        </section>    
    </main>
{% endblock %}

{% block scripts %}
    <script>
        // expenses per category
        let category = document.querySelector('#category').getContext('2d');

        let expensesPerCategoryDashboard = new Chart(category, {
            type: 'doughnut',
            data: {
                labels: [{% for expense in expenses_by_category %}"{{expense.category__name}}", {% endfor %}],

                datasets: [{
                    label: 'Gastos por categoria',
                    data:[
                        {% for expense in expenses_by_category %}{{expense.sum | unlocalize}}, {% endfor %}       
                    ],
                
                    backgroundColor: [
                        'rgba(0, 132, 255, 0.637)',
                        'rgba(255, 153, 0, 0.61)',
                        'rgba(255, 0, 0, 0.507)',
                        'rgba(64, 236, 64, 0.534)',
                        'rgba(156, 32, 213, 1)',
                        'rgba(11, 59, 203, 1)',
                        'rgba(11, 203, 181, 1)'
                    ]

                }],
            },
            options: {
                title:{
                    display: true,
                    text: 'Gastos por categoria até o ano atual',
                    fontSize: 20
                },
                maintainAspectRatio: false,
            }
        });

        // current month dashboard

        let currentMonth = document.querySelector('#currentMonthDash').getContext('2d')

        let currentMonthExpense = new Chart(currentMonth, {
            type: 'bar',
            data: {
                labels: [
                    'Primeira semana', 'Segunda semana', 'Terceira semana', 'Quarta semana'
                ],

                datasets: [{
                    label: 'Gastos no mês atual',
                    data:[{% for week in expenses_per_week %}{{week.sum | unlocalize}}, {% endfor %}],
                
                    backgroundColor: [
                        'rgba(0, 132, 255, 0.637)',
                        'rgba(255, 153, 0, 0.61)',
                        'rgba(255, 0, 0, 0.507)',
                        'rgba(64, 236, 64, 0.534)'
                    ]
                }],
            },
            options: {
                title:{
                    display: true,
                    text: 'Gastos da primeira a quarta semana do mês atual',
                    fontSize: 20
                },
                maintainAspectRatio: false,
            }
        });

        //current year    
            let yearDash = document.querySelector('#yearDash').getContext('2d');
        
            let yearExpenseChart = new Chart(yearDash, {
            type: 'line',
            data: {
                labels: [{% for expense in expenses_each_month %}"{{expense.month | month_name}}", {% endfor %}],
                datasets: [{
                    label: 'Gastos',
                    data:[{% for expense in expenses_each_month %}{{expense.sum | unlocalize}}, {% endfor %}],
                    borderColor: 'rgba(255, 0, 0, 0.507)',
                    fill: false,
                    lineTension: 0,
                }],
            },
            options: {
                title:{
                    display: true,
                    text: 'Gastos no perído de janeiro a dezembro do ano atual',
                    fontSize: 20
                },
                maintainAspectRatio: false,
            }
        });

        //last five years
        let lastFiveMonths = document.querySelector('#lastFiveMonths').getContext('2d');

        let expenseslastFiveMonthsDashboard = new Chart(lastFiveMonths, {
            type: 'bar',
            data: {
                labels: [
                    {% for expense in expenses_last_five_years %}"{{expense.year}}", {% endfor %}
                ],

                datasets: [{
                    label: 'Gastos por ano',
                    data:[
                        {% for expense in expenses_last_five_years %}{{expense.sum | unlocalize}}, {% endfor %}       
                    ],
                
                    backgroundColor: [
                        'rgba(255, 153, 0, 0.61)',
                        'rgba(255, 0, 0, 0.507)',
                        'rgba(64, 236, 64, 0.534)', 
                        'rgba(0, 132, 255, 0.637)',
                        'green',
                        'purple'
                    ] 
                }],
            },
            options: {
                title:{
                    display: true,
                    text: 'Total de gastos por ano nos últimos cinco anos',
                    fontSize: 20
                },
                maintainAspectRatio: false,
            }
        });

    </script>    
{% endblock scripts %}
    