{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

	<main class="main-login" style="background-image: url('{% static 'assets/img/bg_login.jpg' %}')">
		<section>
			<div class="container card-container">
				<div class="row">
					{% include 'parciais/messages.html' %}
					<div class="col s12 m8 l6 offset-m2 offset-l3">
						<div class="card card-login">
							<div class="card-content">
								<h1 class="title-card center">{% trans "Login" %}</h1>
								<br>
								{% get_providers as socialaccount_providers %}

								{% if socialaccount_providers %}
								<div class="socialaccount_ballot">
									<ul class="socialaccount_providers">
										<div class="row center">
											<div class="col s6 l6 m6">
												<a href="{% provider_login_url 'google' %}">
													<i class="fab fa-google red-text small"></i></a>
											</div>
											<div class="col s6 m6 l6">
												<a href="{% provider_login_url 'github' %}"><i class="fab fa-github small"></i></a>
											</div>
										</div>
									</ul>
								</div>
								{% include "socialaccount/snippets/login_extra.html" %}
								{% endif %}
								<div class="row">
									<form class="login form-register" method="POST" action="{% url 'account_login' %}">
										{% csrf_token %}
										<div class="row">
											<div class="col s12 m12 l12">
												<label for="username">Usuário</label>
												{{form.login}}
												<span class="helper-text red-text" 
												data-error="wrong" data-success="right">
												{{form.login.errors}}
											</span> 
											</div>
										</div>
										<div class="row">
											<div class="col s12 m12 l12">
												<label for="password">Senha</label>
												{{form.password}}
												<span class="helper-text red-text" 
												data-error="wrong" data-success="right">
												{{form.password.errors}}
												{{form.non_field_errors}}
												</span>
											</div>
										</div>
										<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
										<button class="primaryAction btn-large login-btn" 
											type="submit">{% trans "Sign In" %}
											<i class="material-icons right">send</i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

{% endblock %}
