{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="main-register" style="background-image: url('{% static 'assets/img/bg-register.jpg' %}')">
	<section>
		<div class="container register-container">
			<div class="row">
				<div class="col s12 m8 l6 offset-m2 offset-l3">
					<div class="card card-register">
						<div class="card-content">
							<h1 class="title-card center register-title">
								Registre-se
							</h1>
							{{form.non_field_errors}}
							<div class="row">
								<form action="{% url 'account_signup' %}" method="POST" class="col s12 form-register" id="signup_form">
									{% csrf_token %}
									<div class="row">
										<div class="col s12 m12 l12">
											<label for="email">E-mail</label>
											{{form.email}}
											<span class="helper-text red-text" 
											data-error="wrong" data-success="right">
											{{form.email.errors}}
											</span>  
										</div>
									</div>
									<div class="row">
										<div class="col s12 m12 l12">
											<label for="email">Usuário</label>
											{{form.username}}
											<span class="helper-text red-text" 
											data-error="wrong" data-success="right">
											{{form.username.errors}}
											</span> 
										</div>
									</div>
									<div class="row">
										<div class="col s12 m12 l12">
											<label for="password">Senha</label>
											{{form.password1}}
											<span class="helper-text red-text" 
											data-error="wrong" data-success="right">
											{{form.password1.errors}}
											</span> 
										</div>
									</div>
									<div class="row">
										<div class="col s12 m12 l12">
											<label for="password">Confirme a senha</label>
											{{form.password2}}
											<span class="helper-text red-text" 
											data-error="wrong" data-success="right">
											{{form.password2.errors}}
											</span> 
										</div>
									</div>
									<a href="{{login_url}}"  class="forgot-pass-text">
										Já possui conta?
									</a>
									<div class="center">
										<button type="submit" class="waves-effect 
											waves-light btn-large primary-btn">
											<i class="material-icons 
												right">send
											</i>Registre-se
										</button>
									</div>
								</form>
							</div>
						</div>                
					</div>
				</div>
			</div>
		</div>
	</section>     
</main>
{% endblock %}
