{% extends 'base.html' %}  
{% load static %}    
{% block content %}
    <main class="main-update-user">
        <div class="container card-container">
            <div class="row">
                <div class="col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card update-info-card">
                        <div class="card-content">
                            <h1 class="title-card center">
                                Alterar Informações Pessoais
                            </h1>
                            <form action=""  method="POST" class="update-info-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <div class="row">
                                            <div class="input-field col s12 m12 l12">
                                                <i class="material-icons prefix update-icon">
                                                    mail
                                                </i>
                                                <label for="icon_email">Alterar E-mail</label>
                                                {{form.email}}
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                </span>           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <div class="row">
                                            <div class="input-field col s12 m12 l12">
                                                <i class="material-icons prefix update-icon">
                                                    account_circle
                                                </i>
                                                <label for="icon_user">
                                                    Alterar nome de usuário
                                                </label>
                                                {{form.username}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn change-user-info-btn">
                                    Alterar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'parciais/float_menu.html' %}
        </div>                      
    </main>
{% endblock %}
    