{% extends 'base.html' %}    
{% load static %}    
{% block content %}
    <main class="main-login" style="background-image: url('{% static 'assets/img/bg_login.jpg' %}')">
        <section>
            <div class="container card-container">
                <div class="row">
                    {% include 'parciais/messages.html'%}  
                    <div class="col s12 m8 l6 offset-m2 offset-l3">
                          <div class="card card-login">
                            <div class="card-content">
                                <h1 class="title-card center register-title">
                                    Login
                                </h1>
                                <div class="row">
                                    <form action="{% url 'accounts:signin' %}"  method="POST"  class="col s12 form-register">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <label for="username">Usuário</label>
                                                {{form.username}}
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                {{form.username.errors}}
                                                </span> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <label for="password">Senha</label>
                                                {{form.password}}
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                {{form.password.errors}}
                                                </span>
                                            </div>
                                        </div>
                                        <a href="#"  class="forgot-pass-text">
                                            Esqueceu a senha?
                                        </a>
                                        <div class="center">
                                            <button type="submit" class="waves-effect 
                                                waves-light btn-large login-btn">
                                                <i class="material-icons 
                                                    right">send
                                                </i>Login
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </section>     
    </main>
{% endblock %}
    