{% extends 'base.html' %}     
{% load static %}    
{% block content %}
    <main class="main-update-pass">
        <div class="container card-container">
            <div class="row">
                <div class="col s12 m8 l6 offset-m2 offset-l3">
                    <div class="card update-info-card">
                        <div class="card-content">
                            <h1 class="title-card center">
                                Alterar Senha
                            </h1>
                            <p class="text-card center">
                                As instruções para atualizar a senha foram 
                                enviadas com sucesso, verifique seu e-mail
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>                      
    </main>
{% endblock %}