//dark

$bg-nav-footer: linear-gradient(145deg, rgba(125,84,172,1) 
0%, rgba(83,54,153,1) 35%, rgba(91,52,147,1) 100%);
$bg-color: rgb(44, 44, 44);
$card-bg: rgb(70, 70, 70);
$card-font-color: white;
$form-profile-textarea-border: white;
$btn-bg: rgb(77, 0, 128);
$btn-bg-hover: rgb(41, 0, 80);
$register-input-focus: rgb(132, 90, 211);
$title-color: white;
$card-register-bg: rgba(0, 0, 0, 0.7);
$form-label-color: white;
$sidenav-bg: rgba(43, 43, 43, 0.7) !important;
$sidenav-color: white;
$sidenav-hover: black;

$footer-color: white;
$font-family: verdana, sans-serif; 
$text-shadow-logo: -3px 4px 4px rgba(4, 217, 255, 0.83);
$search-focus-border: rgb(0, 119, 255) !important; 
$box-shadow-card: 7px 4px 8px -1px rgba(0,0,0,0.75);
$forgot-pass-color: rgb(16, 163, 207);
$forgot-pass-color-hover: black;
$form-profile-textarea-focus: rgb(0, 112, 177) !important;
$float-btn-content-bg-color: green;
$float-btn-content-bg-color-hover: rgb(0, 88, 0);
$msg-font-colors: white;
$msg-bg-success:  rgba(64, 236, 64, 0.534);
$msg-bg-error: rgba(255, 0, 0, 0.507);
$msg-bg-warning: rgba(255, 153, 0, 0.61);
$msg-bg-info: rgba(0, 132, 255, 0.637);
$dashboard-label-color: rgba(0, 102, 255, 0.788) !important;
$dashboard-label-bg: rgba(189, 236, 255, 0.829) !important;
$btn-delete: rgb(238, 73, 73);
$btn-delete-hover: rgba(255, 104, 104, 0.89);
$section-info-bg: rgba(0, 112, 204, 0.719);
$box-shadow-discovery: 7px 4px 8px 7px rgba(125, 197, 255, 0.75);
$datepicker-colors:  rgb(39, 151, 255) !important;