{% extends 'base.html' %}
{% load static %}

{% block title %}Relatório de Ganhos{% endblock %}

{% block content %}
    <main class="main-expenses-reports">
        <section class="center">
            <h1 class="title-card">RELATÓRIO DE GANHOS</h1>        
            <div class="card-container container">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="text-card">
                                        Total no ano atual
                                    </p>
                                    <p class="report-value">
                                        <i class="medium material-icons green-text">
                                            trending_up
                                        </i>
                                        {% if total_current_year %}
                                            {{total_current_year}}
                                        {% else %}    
                                            Nenhum
                                        {% endif %}    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="text-card">
                                        Total no mês atual
                                    </p>
                                    <p class="report-value">
                                        <i class="medium material-icons teal-text">
                                            trending_up
                                        </i>
                                        {% if total_current_month %}
                                            {{total_current_month}}
                                        {% else %}    
                                            Nenhum
                                        {% endif %}   
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="text-card">
                                        Total nos últimos três meses
                                    </p>
                                    <p class="report-value">
                                        <i class="medium material-icons cyan-text">
                                            trending_up
                                        </i>
                                        {% if total_last_three_months %}
                                            {{total_last_three_months}}    
                                        {% else %}    
                                            Nenhum
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <h2 class="title-card">
                        ADICIONE GANHOS PARA VER O RELATÓRIO
                    </h2>
                </div>
                <div class="row row-card-report">
                    {% if currency_current_moment%}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card">Ganhos por Moeda até o presente momento</p>
                                <table class="responsive-table centered">
                                    <thead>
                                        <tr>
                                            <th>Moeda</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for currency in currency_current_moment%}
                                        <tr>
                                            <td>{{currency.currency__currency}}</td>
                                            <td>{{currency.sum}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if currency_current_year%}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card">Ganhos por Moeda no ano atual</p>
                                <table class="responsive-table centered">
                                    <thead>
                                        <tr>
                                            <th>Moeda</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for currency in currency_current_year%}
                                        <tr>
                                            <td>{{currency.currency__currency}}</td>
                                            <td>{{currency.sum}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if currency_current_month %}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card">Ganhos por Moeda no mês atual</p>
                                <table class="responsive-table centered">
                                    <thead>
                                        <tr>
                                            <th>Moeda</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for currency in currency_current_month%}
                                        <tr>
                                            <td>{{currency.currency__currency}}</td>
                                            <td>{{currency.sum}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if currency_last_three_months %}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card">Ganhos por Moeda nos últimos três meses</p>
                                <table class="responsive-table centered">
                                    <thead>
                                        <tr>
                                            <th>Moeda</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for currency in currency_last_three_months%}
                                        <tr>
                                            <td>{{currency.currency__currency}}</td>
                                            <td>{{currency.sum}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if currency_last_year %}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card">Ganhos por Moeda no ano passado</p>
                                <table class="responsive-table centered">
                                    <thead>
                                        <tr>
                                            <th>Moeda</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for currency in currency_last_year%}
                                        <tr>
                                            <td>{{currency.currency__currency}}</td>
                                            <td>{{currency.sum}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <p class="text-card export-text">
                                    Exportar
                                    <i class="material-icons">insert_drive_file</i>
                                </p>
                                <a href="{% url 'earning_dash:earnings_pdf' %}" class="btn btn-export red">
                                    Exportar em formato PDF
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'parciais/float_menu.html'%}
        </section>        
    </main>
{% endblock %}