{% load static %}
<div class="fixed-action-btn">
    <a href="#" id="float-menu" class="btn-floating btn-large float-btn blue">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a href="{% url 'profile:profile' user.profile.pk %}" class="btn-floating 
            blue tooltipped" data-position="left" 
            data-tooltip="Perfil">
                <i class="material-icons">person</i>
            </a>
        </li>
        <li>
            <a href="{% url 'expense:create' %}" class="btn-floating 
            float-btn-content tooltipped" data-position="left" 
            data-tooltip="Adicionar novo gasto">
                <i class="material-icons">create</i>
            </a>
        </li>
        <li>
            <a href="{% url 'earn:create' %}" class="btn-floating 
            float-btn-content orange tooltipped" data-position="left" 
            data-tooltip="Adicionar novo ganho">
                <i class="material-icons">create</i>
            </a>
        </li>
        <li>
            <a href="{% url 'earning_dash:earnings_dash'%}" class="btn-floating 
            green tooltipped" data-position="left" 
            data-tooltip="Gráfico de ganhos">
                <i class="material-icons">trending_up</i>
            </a>
        </li>
        <li>
            <a href="{% url 'expense_dash:expenses_dash'%}" class="btn-floating 
            red tooltipped" data-position="left" 
            data-tooltip="Gráfico de gastos">
                <i class="material-icons">trending_down</i>
            </a>
        </li>
        <li>
            <a href="#search" class="btn-floating 
            blue tooltipped" data-position="left" 
            data-tooltip="Pesquisar">
                <i class="material-icons">search</i>
            </a>
        </li>
    </ul>
</div>
