@import '../utils/dark_variables';;

footer.main-footer{
    background: $bg-nav-footer;
    font-family: $font-family;

    & .footer-title, .footer-text{
        color: $footer-color;
    }

    & .footer-text{
        font-size: 1.2rem;
    }
}


