{% extends 'base.html' %}     
{% load static %}
    
{% block content %} 
    <main class="main-add-exp" style="background-image: url('{% static 'assets/img/bg-add.jpg' %}')">
        <section>
            <div class="container card-container">
                {% include 'parciais/messages.html'%}
                <div class="row">
                    <div class="col s12 m10 l6 offset-m1 offset-l3">
                        <nav class="transparent">
                            <div class="nav-wrapper">
                              <div class="col s12">
                                <a href="{% url 'expense:list' %}" class="breadcrumb">Meus Gastos</a>
                                <a href="{% url 'expense:create'%}" class="breadcrumb">Adicionar Gastos</a>
                              </div>
                            </div>
                        </nav>
                        <div class="card card-exp">
                            <div class="card-content">
                                <h1 class="title-card center">
                                    ADICIONAR GASTO
                                </h1>
                                <div class="divider"></div>
                                <div class="row">
                                    
                                    <form action="" class="add-exp-form" 
                                    method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-field col s12 m6 l6">
                                                <i class="material-icons prefix update-icon">create</i>
                                                {{form.title}}
                                                <label for="title">Título</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.title.errors}}
                                                </span>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <i class="material-icons prefix update-icon">
                                                    format_list_bulleted
                                                </i>
                                                <select id="id_category" name="category">
                                                    {% for category in form.category %}
                                                    {{category}}
                                                    {% endfor %}   
                                                </select>
                                                <label>Categoria</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.category.errors}}
                                                </span>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="input-field col s12 m6 l6">
                                                <i class="material-icons prefix update-icon">
                                                    attach_money
                                                </i>
                                                {{form.quantity}}
                                                <label for="title">Valor</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.quantity.errors}}
                                                </span>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <i class="material-icons prefix update-icon">
                                                    monetization_on
                                                </i>
                                                <select id="id_currency" name="currency">
                                                    {% for c in form.currency %}
                                                    {{c}}
                                                    {% endfor %}  
                                                </select>
                                                <label>Moeda</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.currency.errors}}
                                                </span>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="input-field col s12 l12 m12">
                                                <i class="material-icons prefix update-icon">
                                                    description
                                                </i>
                                                {{form.description}}
                                                <label for="description">Descrição</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.description.errors}}
                                                </span>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="input-field col s12 l12 m12">
                                                <i class="material-icons prefix 
                                                    update-icon">date_range
                                                </i>
                                                {{form.date}}
                                                <label for="date">Data</label>
                                                <span class="helper-text red-text" 
                                                data-error="wrong" data-success="right">
                                                    {{form.date.errors}}
                                                </span>
                                            </div>
                                        </div>  
                                        <label class="col s2 l3 m3">
                                            {{form.long_term}}
                                            <span class="black-text">Gasto Mensal</span>
                                        </label> 
                                        <span class="helper-text red-text" 
                                            data-error="wrong" data-success="right">
                                            {{form.long_term.errors}}
                                        </span>
                                        <button type="submit" class="btn btn-add">Adicionar</button>                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'parciais/float_menu.html' %}
            </div>
        </section>                  
    </main>
{% endblock %}
    