{% extends 'base.html' %}     
{% load static %}

{% block title %}Meus Gastos{% endblock %}
{% block content %}     
    <main class="main-content">
        <section class="center">
            <div class="container card-container">
                <div class="row">
                    <div class="col s12 m10 l10 offset-l1 offset-m1">
                        <div class="card card-filter">
                            <div class="card-body">
                                <p class="text-card title-filter">
                                    <i class="material-icons">
                                        filter_list
                                    </i>
                                    Filtrar por
                                </p>
                                <div class="row">
                                    <div class="col l12 m12 s12">
                                        <form action="" method="GET" class="filter-form">
                                            <div class="input-field col s12 m6 l3">
                                                {{filter.form.category}}
                                                <label>Categoria</label>
                                            </div>  
                                            <div class="input-field col s12 m6 l3">
                                                {{filter.form.currency}}
                                                <label>Moeda</label>
                                            </div> 
                                            <div class="input-field col s12 m6 l3">
                                                {{filter.form.long_term}}
                                                <label>Mensal</label>
                                            </div>  
                                            <div class="input-field col s12 m6 l3">
                                                {{filter.form.start_date}}
                                                <label>Data (Intervalo inicial)</label>
                                            </div>
                                            <div class="input-field col s12 m6 l3">
                                                {{filter.form.end_date}}
                                                <label>Data (Intervalo final)</label>
                                            </div>
                                            <button type="submit" class="btn btn-filter">
                                                Filtrar
                                            </button>
                                        </form>
                                    </div>    
                                </div>
                            </div>        
                        </div>        
                    </div>
                </div>
            </div>
        </section>
        <section class="center scrollspy" id="search">
            <div class="container">
                <div class="container search-container">
                    <h1 class="title center">Meus gastos</h1>
                    <div class="row">
                        <div class="col l12 s10 m12">
                            <form action="{% url 'expense:search' %}" method="GET">
                                <div class="input-field search">
                                    <input class="white search-input" type="text" 
                                    name="q" value="{{request.GET.q}}" id="input-search" 
                                    placeholder="Buscar...">
                                    <label class="label-icon" for="search">
                                        <i class="material-icons right black-text">
                                            search
                                        </i>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row center expenses-box">
                    {% include 'parciais/messages.html'%}
                    {% if expenses %}
                    {% for expense in object_list %}
                    <div class="col l4 m6 s12">
                        <div class="card card-expense">
                            <div class="card-content">
                                <a href="{% url 'expense:delete' expense.pk %}">
                                    <i class="material-icons left">
                                        close
                                    </i>
                                </a>
                                <p class="title-card activator">
                                    {{expense.title}}<i class="material-icons right">
                                    more_vert</i>
                                </p>
                                <p class="text-card">{{expense.currency}} {{expense.quantity}}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title title-card">
                                    <a href="{% url 'expense:update' expense.pk %}">
                                        <i class="material-icons left">
                                        mode_edit
                                        </i>
                                    </a>
                                    {{expense.category}}<i class="material-icons right">
                                    close</i>
                                </span>
                                <p class="text-card">
                                    {{expense.description}}
                                </p>
                            </div>
                            <div class="card-action">
                                {% if not expense.long_term %}
                                <p class="text-card">
                                    {{expense.date | date:"d/m/Y"}}
                                </p>
                                {% else %}
                                <p class="text-card">
                                    Dia {{expense.date | date:"d"}}
                                    <a href="#" class="tooltipped" 
                                        data-position="bottom" data-tooltip="Gasto mensal">
                                        <i class="material-icons green-text">
                                            date_range
                                        </i>
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include 'parciais/pagination.html'%}
                {% endif %}
                {% include 'parciais/float_menu.html' %}
                </div>
        </section>    
    </main>
{% endblock %}
