@import '../utils/variables';
@import '../components/buttons';

.main-add-exp{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .card-container{
        margin-top: 5vh;
    }
    
    .card-exp{
        box-shadow: $box-shadow-card;
    }

    .add-exp-form{
        padding: 0.8rem;
    }

    .add-exp-form input, textarea, label{
        color: $card-font-color;
    
        &:focus + label{
            color: $register-input-focus;
        }
    }

    .add-exp-form ul.dropdown-content.select-dropdown li span{
        color: $register-input-focus;
    }

    .add-exp-form input, textarea{
        border-color: $card-font-color;  
        
        &:focus{
            border-color: $register-input-focus;        
        }
    }

    .title-card{
        font-size: 1.7rem;
        margin-bottom: 1rem !important;
        color: $card-font-color;
    }
    
    .text-card{
        font-size: 1.5rem;
        color: $card-font-color;
    }

    .update-icon{
        color: $register-input-focus;
    }

    .btn-add{
        @include primary-btn;
    }
}

.dark{
    //background-image: url('../../../assets/img/bg-add.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .card-container{
        margin-top: 5vh;
    }

    .card-exp{
        box-shadow: $box-shadow-card;
    }

    .add-exp-form{
        padding: 0.8rem;
    }

    .add-exp-form input, textarea, label{
        color: $card-font-color-dark;
    
        &:focus + label{
            color: $register-input-focus-dark;
        }
    }

    .title-card{
        font-size: 1.7rem;
        margin-bottom: 1rem !important;
        color: $card-font-color-dark;
    }
    
    .text-card{
        font-size: 1.5rem;
        color: $card-font-color-dark;
    }

    .add-exp-form ul.dropdown-content.select-dropdown li span{
        color: $register-input-focus-dark;
    }

    .add-exp-form input, textarea{
        border-color: $card-font-color-dark;  
        
        &:focus{
            border-color: $register-input-focus-dark;        
        }
    }

    .update-icon{
        color: $register-input-focus-dark;
    }

    .btn-add{
        @include primary-btn;
        background: $btn-bg-dark;
        transition: .5s;
    }
}








