@import '../utils/variables';
@import '../components/buttons';

.main-update-pass{

    .card-container{
        margin-top: 5vh;
    }

    .update-info-card{
        background-color: $card-bg;
    }

    .update-info-form input:focus{
        border-color: $register-input-focus;
    }
    
    .change-pass-btn{
        @include primary-btn;
        background-color: $register-input-focus;
    }

     .title-card{
        font-size: 1.7rem;
        margin-bottom: 1rem !important;
        color: $card-font-color;
    }
    
    .text-card{
        font-size: 1.5rem;
        color: $card-font-color;
    }
}

.dark{

    .card-container{
        margin-top: 5vh;
    }

    .update-info-card{
        background-color: $card-bg-dark;
    }

    .update-info-form input:focus{
        border-color: $register-input-focus-dark;
    }

    .title-card{
        font-size: 1.7rem;
        margin-bottom: 1rem !important;
        color: $card-font-color-dark;
    }
    
    .text-card{
        font-size: 1.5rem;
        color: $card-font-color-dark;
    }
    
    .change-pass-btn{
        @include primary-btn;
        background: $btn-bg-dark
    }    
}
