$bg-nav-footer: linear-gradient(145deg, rgba(52,55,71,1) 0%, rgba(77,179,224,1) 
35%, rgba(50,23,82,1) 100%);
$footer-color: white;
$bg-color: #ddd;
$font-family: verdana, sans-serif; 
$text-shadow-logo: -3px 4px 4px rgba(4, 217, 255, 0.83); 
$sidenav-color: #181818;
$sidenav-bg: rgba(255, 255, 255, 0.7);
$sidenav-hover: rgb(85, 153, 255);
$search-focus-border: rgb(0, 119, 255) !important;
$title-color: #181818;
$card-font-color: #181818;
$card-bg: white;
$box-shadow-card: 7px 4px 8px -1px rgba(0,0,0,0.75);
$btn-bg: rgb(0, 162, 255);
$btn-bg-hover:  rgb(0, 122, 192);
$register-input-focus: rgb(0, 140, 255) !important;
$form-label-color: black;
$forgot-pass-color: rgb(16, 163, 207);
$forgot-pass-color-hover: black;
$card-register-bg: rgba(255, 255, 255, 0.7);
$form-profile-textarea-border: black;
$form-profile-textarea-focus: rgb(0, 112, 177) !important;
$float-btn-content-bg-color: green;
$float-btn-content-bg-color-hover: rgb(0, 88, 0);
$msg-font-colors: white;
$msg-bg-success:  rgba(64, 236, 64, 0.534);
$msg-bg-error: rgba(255, 0, 0, 0.507);
$msg-bg-warning: rgba(255, 153, 0, 0.61);
$msg-bg-info: rgba(0, 132, 255, 0.637);
$dashboard-label-color: rgba(0, 102, 255, 0.788) !important;
$dashboard-label-bg: rgba(189, 236, 255, 0.829) !important;
$btn-delete: rgb(238, 73, 73);
$btn-delete-hover: rgba(255, 104, 104, 0.89);
$section-info-bg: rgba(0, 112, 204, 0.719);
$box-shadow-discovery: 7px 4px 8px 7px rgba(125, 197, 255, 0.75);
$datepicker-colors:  rgb(39, 151, 255) !important;


//dark
$bg-nav-footer-dark: linear-gradient(145deg, rgba(125,84,172,1) 
0%, rgba(83,54,153,1) 35%, rgba(91,52,147,1) 100%);
$bg-color-dark: rgb(44, 44, 44);
$card-bg-dark: rgb(70, 70, 70);
$card-font-color-dark: white;
$form-profile-textarea-border-dark: white;
$btn-bg-dark: rgb(77, 0, 128);
$btn-bg-hover-dark: rgb(41, 0, 80);
$register-input-focus-dark: rgb(129, 93, 194);
$title-color-dark: white;
$card-register-bg-dark: rgba(0, 0, 0, 0.7);
$form-label-color-dark: white;
$sidenav-bg-dark: rgba(43, 43, 43, 0.7) !important;
$sidenav-color-dark: white;
$sidenav-hover-dark: black;

















