@import '../components/buttons';
@import '../utils/dark_variables';

.main-update{

    .card-container{
        margin-top: 5vh;
    }

    .card{
        background: $card-bg;
    }
    
    .add-exp-form input{
        color: $datepicker-colors;

        &:focus{
            border-color: $register-input-focus;
        }
    }

    .check-label span{
        color: $title-color;
    }

    .add-exp-form textarea:focus{
        border-color: $register-input-focus;
    }
    
    .btn-update{
        @include primary-btn;
    }

    .update-icon{
        color: $register-input-focus;        
    }

    .card-content-exp{
        padding: 1.5rem 2.5rem;
    }
}

