{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main-delete-exp" style="background-image: url('{% static 'assets/img/delete_exp.jpg' %}')">
        <section>
            <div class="container card-container">
                <div class="row">
                    <div class="col s12 m10 l6 offset-m1 offset-l3">
                        <div class="card card-delete">
                            <div class="card-content">
                                    <h1 class="title-card center">
                                        Tem certeza que deseja excluir "{{object.title}}"?
                                    </h1>
                                    <div class="divider"></div>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <a href="{% url 'earn:list' %}" class="btn btn-cancel">
                                            Cancelar
                                        </a>
                                        <button type="submit" class="btn btn-delete 
                                        center">
                                            Excluir
                                        </button>                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'parciais/float_menu.html' %}
            </div>
        </section>                  
    </main>
{% endblock %}
    