@import '../utils/dark_variables';

.main-expenses-reports{
    .title-card{
        font-size: 1.7rem;
        margin-bottom: 1rem !important;
        color: $card-font-color;
    }

    .card-stacked{
        background-color: $card-bg;
    }

    .row-card-report .card{
        background-color: $card-bg;
    }

    td, th{
        color: $card-font-color
    }
    
    .text-card{
        font-size: 1.5rem;
        color: $card-font-color;
    }

    .report-value{
        padding-top: 1rem;
        font-size: 2rem;
        color: $card-font-color;
    }

    .export-text{
        padding-bottom: 1.5rem;
    }

    .btn-export{
        margin-bottom: 2rem;
    }
}